* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;                        
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* color scheme
    Electric Blue: 66fcf1
    dark CYAN: 45a29e
    off white: c5c6c7
    dark gunmetal: 1f2833
    smoky black: 0b0c10
*/


/* Scrollbar */

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #030405;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#030405 0%, #66fcf1 15%, rgba(102,252,241,1) 85%, #030405 100%);
}


/* Navbar*/
    nav img {
      position: absolute;
      bottom: clamp(-2.1875rem, -1.0225rem + -0.9709vw, -1.25rem);
      height: clamp(4rem, 2.6699rem + 1.9417vw, 5rem);
    } 

    nav #nav-name {
      margin-left: 80px;
    }

    .offcanvas {
      width: 70vw !important;
    }


/*================ Hero Section =============*/
    #hero{
      position: fixed; 
      top: 0; 
      left: 0;
      height: 100vh;
      background-image: url('./images/herobg.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;
    }

    
    #hero #overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 40%);
      z-index: 1;
    }
    @media  (max-width: 766px) {
    /* @media  (max-width: 576px) { */
      #hero #overlay{
        background: linear-gradient(0deg, rgba(0,0,0,.4) 0%,  rgba(0,0,0,.6) 30%, rgba(0,0,0,.9) 35%,  rgba(0,0,0,.9) 40%, rgba(0,0,0,0) 50%);
      }
    }

    #hero-container{
      height: 100vh;
      text-align: right;
      padding-left: 1rem;
      z-index: 2;
    }

    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #hero-container{
        height: 35vh;
      }
    }

    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #hero #content {
        background-color: rgba(0,0,0,.5);
        box-shadow: 0px -2vh 40px 60px rgba(0,0,0,.5);
        -webkit-box-shadow: 0px -2vh 40px 60px rgba(0,0,0,.5);
      }
    }

    #hero #content h2{
      font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
      color: #66fcf1;
    }

    #hero #content h1{
      font-size: clamp(2.5rem, 1.6505rem + 3.6246vw, 6rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: white;
    }

    #animate-text{
      overflow: hidden;
    }

    #animate-text span{
      font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: white;

      display: none;
    }

    #animate-text span.text-in{
      display: block;
      animation: textIn .5s ease;
    }

    #animate-text span.text-out{
      animation: textOut .5s ease;
    }


    @keyframes textIn{
      0%{
        transform: translateY(100%);
      }
      100%{
        transform: translateY(0%)
      }
    }


    @keyframes textOut{
      0%{
        transform: translateY(0%);
      }
      100%{
        transform: translateY(-100%)
      }
    }


    #hero-profile{
      height: 100vh;
    }

    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #hero-profile{
        height: 65vh;
      }
    }

    #hero-profile img{
      max-height: 85vh;
      z-index: 2;
    }

    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #hero-profile img{
        max-height: 50vh;
        -webkit-mask-image: linear-gradient(rgba(0,0,0,1) 80%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0) 95%);
        mask-image: linear-gradient(rgba(0,0,0,1) 85%, rgba(0,0,0,.7) 90%, rgba(0,0,0,0) 95%);
      }
    }


    #hero #glow-overlay {
      position: absolute;
      bottom: 0;
      right: 5%; 
      width: 55vw;
      height: 100%;
      background-image: url('./images/overlay-glow.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      mix-blend-mode: overlay;
      z-index: 1;
      filter: blur(5vw);

    }

    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #hero #glow-overlay {
        bottom: 20%;
        right: 10%; 
        width: 80%;
        height: 70%;
      }
    }


    /* BUTTON FROM
      https://freefrontend.com/css-buttons/
      https://codepen.io/Ks145/pen/MWGxbYr
    */

    .glowing-btn {
      position: relative;
      color: hsl(186 100% 69%);
      cursor: pointer;
      border: 4px solid #61efff;
      padding: 10px 20px;
      border: 0.15rem solid hsl(186 100% 69%);
      /* border-radius: 0.5rem; */
      background: transparent;
      overflow: hidden;
      /* font-family: "Raleway", sans-serif; */
      font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
      /* letter-spacing: .5rem; */
      z-index: 2;
      -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
        0px 0px 0.5em 0px hsl(186 100% 69%);
      -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
        0px 0px 0.5em 0px hsl(186 100% 69%);
      box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
        0px 0px 0.5em 0px hsl(186 100% 69%);
    }

    .glowing-txt {
      float: left;
      /* margin-right: -0.8em; */
      z-index: 2;
      -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em hsl(186 100% 69%);
      -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em hsl(186 100% 69%);
      text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(186 100% 69%);
    }

    /* .glowing-btn::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: hsl(186 100% 69%);
      box-shadow: 0 0 2em 0.2em hsl(186 100% 69%);
      transition: opacity 100ms linear;
    } */

    .glowing-btn:hover {
      color: rgba(0, 0, 0, 0.8);
      text-shadow: none;
      transition: color 1s;
    }

    .glowing-btn:hover .glowing-txt {
      animation: none;
    }

    .glowing-btn:hover {
      animation: none;
      text-shadow: none;
      opacity: 1;
    }

    /* .glowing-btn:hover:after {
      opacity: 1;
    } */

    .glowing-btn:hover:before {
      transition: all 1s;
    }

    .glowing-btn::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: -40px;
      transform: skewX(45deg);
      background-color: #61efff;
      z-index: -1;
      transition: all 1s;
    }

    .glowing-btn:hover::before {
      width: 160%;
    }


    .glowing-btn:active{
      transition: 100ms linear;
      transform: scale(0.95);
    }

/*========== about-me/ tech-stack container ===========*/





/* ================ABOUT-ME==================*/











    #about-me-anim img{
      position: sticky;
      top: 10vh;
      margin-top: 10vh;
      max-height: 90vh;
      z-index: 2;
    }


    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #about-me-anim{
        position: absolute;
        top: 0;
        height: 80%;
      } 
    }

    @media  (max-width: 766px) {
      /* @media  (max-width: 576px) { */
      #about-me-anim img{
        position: sticky;
        max-height: 45vh;
        z-index: 2;
        /* border: 5px solid white; */

      }
    }

    /* THANK YOU!!! */
    /* https://stackoverflow.com/questions/8328886/sticky-top-div-with-absolute-positioning */
    /* 
    Problem
    overlaying multiple sticky elements as if in absolute without using transform: translateY

    Solution
    parent HTML element use position: absolute to have the right position.
    (don't forget to set height for parent. for example height:100%)

    child HTML element position: sticky

    took about 1 day WTF

    */



    #about-me .container{
      position: absolute;
      top: 0;
      height: 100%;
      --bs-gutter-x: 0px;
    }



    #about-me #dark-overlay{
      position: sticky;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background: linear-gradient(-90deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0.7) 35%, rgba(0,0,0,.5) 40%, rgba(0,0,0,0) );
    }

    @media  (max-width: 766px) {
      #about-me #dark-overlay{
        background: linear-gradient(0deg, rgba(0,0,0,.5) 0%,  rgba(0,0,0,.5) 25%,  rgba(0,0,0,.5) 40%, rgba(0,0,0, 0) 50%);
      }
    }

    #about-me #image-overlay {
      position: sticky;
      z-index: 1;
      top: 0;
      filter: blur(3px);
      width: auto;
      height: 100vh;
      background-image: url('./images/codingstill.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -5vw 65%; 
      -webkit-mask-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 30%, rgba(0,0,0,.7));
      mask-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 30%, rgba(0,0,0,.7) 35%, rgba(0,0,0,.7));
      mix-blend-mode: overlay;
    }


    #about-me #glow-overlay {
      position: sticky;
      top: 0;
      width: 55%;
      height: 100vh;
      background-image: url('./images/overlay-glow.png');
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: overlay;
      z-index: 2;
      filter: blur(5vw);
    }

    
    #about-me #bottom-overlay{
      position: sticky;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background: linear-gradient(180deg, #040a0d00 0%, #040a0d49 85%, #040a0d 90%, #040a0d 100%);
    }

    #about-me #text-overlay{
      position: sticky;
      top: 0;
      height: 100vh;
      z-index: 2;
      font-size: clamp(4rem, 2.0583rem + 8.2848vw, 12rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf2;
      mix-blend-mode: overlay;
      white-space:nowrap;
      transform: translateX(-5%);
    }

    @media  (max-width: 766px) {
      #about-me #text-overlay{
        margin-top: 10vh;
        top: 10vh;
        height: 90vh;
        color: #66fcf2;
      }
    }
    


    #about-me #about-me-container{
      z-index: 3;
      margin-bottom: 20vh;
    }


    /* fade to transparent
    https://webdevtrick.com/css-text-fade-out/
    */
    /* apparently "background-attachment: fixed;" is not supported in iphones? */



    #about-me #content{
      margin-top: 30vh;
      margin-bottom: 10vh;
      background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 35%, white 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-background-attachment: fixed;
      background-attachment: fixed;
    }  


    

    @media  (max-width: 766px) {
      #about-me #content{
        margin-top: 70vh;
        margin-bottom: -25vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 55%, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 70%, white 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-background-attachment: fixed;
        background-attachment: fixed;
      }  
    }
    #about-me #content-header{
      z-index: 3;
      position: absolute;
      top: 0;
      --bs-gutter-x: 0px;
    }
    #about-me h1{
      font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf2;
      position: sticky;
      margin-top: 15vh;
      top: 15vh;
    }

    @media  (max-width: 766px) {
      #about-me h1{
        top: 50vh;
        margin-top: 50vh;
      }
    }

    #about-me p{
      padding-right: 5vh;
      margin-bottom: 3rem;
      font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
      color: transparent;
      text-align: justify;
    }


    #about-me span{
      padding-right: 5vh;
      font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
      color: #ffffff;
      text-align: justify;
      margin-bottom: 5vh;
      -webkit-text-stroke: .4px #030406;
    }

    @media  (max-width: 766px) {
      #about-me span{
        margin-top: 5vh;
      }
    }

    @media  (max-width: 766px) {
      #about-me p,
      #about-me span{
        padding-left: 5vw;
        padding-right: 5vw;
      }
    }


    #about-me #button-container {
      display: flex;
      width: 70%;
      gap: 10px;
      z-index: 3;

      --b: 3px;   /* the border thickness */
      --h: 3rem; /* the height */
    }

    @media  (max-width: 766px) {
      #about-me #button-container { 
        margin-inline: auto;

      }
    }
    
    /* BUTTON FROM https://codepen.io/t_afif/pen/XWEPxPv*/

    #about-me #button-container  button {
      /* --_c: #88C100; */
      --_c: #61efff;
      flex: calc(.75 + var(--_s,0));
      min-width: 0;
      font-size: clamp(0.8rem, 0.7515rem + 0.2071vw, 1rem);
      font-weight: bold;
      overflow: hidden;
      height: var(--h);
      cursor: pointer;
      color: var(--_c);
      border: var(--b) solid var(--_c);
      background: 
        conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
        border-box;
      clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
      padding: 0 calc(0.288*var(--h)) 0 0;
      margin: 0 calc(-0.288*var(--h)) 0 0;
      transition: flex .4s, color 1s;
    }

    #about-me #button-container  button + button {
      --_c: #43dca1;
      flex: calc(1.25 + var(--_s,0));
      background: 
        conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
        border-box;
      clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
      margin: 0 0 0 calc(-0.288*var(--h));
      padding: 0 0 0 calc(0.288*var(--h));
    }

    /* #about-me #button-container button:focus-visible {
      outline-offset: calc(-2*var(--b));
      outline: calc(var(--b)/2) solid #000;
      background: none;
      clip-path: none;
      margin: 0;
      padding: 0;
    }
    #about-me #button-container button:focus-visible + button {
      background: none;
      clip-path: none;
      margin: 0;
      padding: 0;
    }
    #about-me #button-container button:has(+ button:focus-visible) {
      background: none;
      clip-path: none;
      margin: 0;
      padding: 0;
    } */


    #about-me #button-container button::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: -40px;
      transform: skewX(45deg);
      background-color: #61efff;
      /* background-color: #676969; */
      z-index: -1;
      transition: all 2s linear;
    }

    /* NOTE THE POSITIONING OF + */

    #about-me #button-container button + button::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: -40px;
      transform: skewX(45deg);
      background-color: #43dca1;
      z-index: -1;
      transition: all 2s linear;
    }

    #about-me #button-container button:hover::before {
      width: 160%;
    }

    #about-me #button-container button:hover::before + button {
      width: 160%;
    }

    #about-me #button-container button:hover{
      color: #040a0d;
      transition: all 1s;
    }

    #about-me button:hover,
    #about-me button:active:not(:focus-visible) {
      --_s: .75;
    }
    #about-me button:active {
      /* box-shadow: inset 0 0 0 100vmax var(--_c);
      color: #fff; */
      transition: 100ms linear;
      transform: scale(0.90);
      
    }
    
    
    

/*================== Tech Stack ==================*/



    @media  (max-width: 766px) {
      #tech-stack {
        background-size: cover;
      }
    }


    #tech-stack #overlay{
      background: rgb(0,0,0);
      background: linear-gradient(0deg, #040a0d00 0%,  rgba(4, 10, 13, 0.5) 15%, #040a0d 40%,  #040a0d 100%);
      position: relative;
      height: 100vh;
      width: 100vw;
    }

    #tech-stack .container{
      position: absolute;
      top: 0;
      height: 100%;
      --bs-gutter-x: 0px;

    }

    #tech-stack #text-overlay{
      position: sticky;
      top: 0;
      height: 100vh;
      z-index: 1;
      font-size: clamp(4rem, 2.0583rem + 8.2848vw, 12rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf1;
      mix-blend-mode: overlay;
      white-space:nowrap;
      transform: translateX(-65%);
    }

    @media  (max-width: 766px) {
      #tech-stack #text-overlay{
        margin-top: 10vh;
        top: 10vh;
        color: #66fcf1;
      }
    }


    #tech-stack h1{
      font-size: clamp(2rem, 1.2718rem + 3.1068vw, 5rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf2;
      margin-top: 15vh;
      z-index: 2;
    }

    #tech-stack .scroller{
      margin-top: 5vh;
      max-width: 80%;
      z-index: 2;
    }
    
    #tech-stack .scroller-inner{
      padding-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
  
    }

    @media  (max-width: 766px) {
      #tech-stack .scroller-inner{
        gap: .4rem;
      }
    }


    #tech-stack ul{
      white-space:nowrap;
    }
    
    #tech-stack li{
      display: flex;
      flex-direction: column;
      font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
      color: #ffffff;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: .5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
    }

    ol, ul {
      padding-left: 0  !important;
    }
    
    #tech-stack li img{
      margin-top: 1rem;
      width: 5vw;
    }

    @media  (max-width: 766px) {
      #tech-stack li img{
        margin-top: 1rem;
        width: 15vw;
      }
    }

    /* infinite Scroll */

    .scroller[data-animated=true]{
      overflow: hidden;
      -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
      mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
     }
    
    .scroller[data-animated=true] .scroller-inner{
      width: max-content;
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
    }

    @media  (max-width: 766px) {
      .scroller[data-animated=true] .scroller-inner{
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 15s)
        var(--_animation-direction, forwards) linear infinite;
      }
    }
    
    
    @keyframes scroll {
      to {
        transform: translate(calc(-50% - 1rem));
      }
    }

    @media  (max-width: 766px) {
      to {
        transform: translate(calc(-50% -.2rem));
      }
    }

    /* End of Infinite Scroll */

    #tech-stack #content{
      margin-top: 10vh;
      z-index: 3
    }

    @media  (max-width: 766px) {
      #tech-stack #content{
        position: absolute;
        bottom: 0;
        height: 100vh;
        margin-bottom: 15vh;
      }
    }
    
    #tech-stack h2{
      font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #ffffff;
      text-shadow: 0px 5px 15px rgba(0,0,0,0.8);
    }

    #tech-stack h2 span{
      margin-left: clamp(0.5rem, 0.3786rem + 0.5178vw, 1rem);
      font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf2;
      text-shadow: 0px 5px 15px rgba(0,0,0,0.8);
    }



    #tech-stack #content p{
      width: 60%;
      z-index: 3;
      margin-inline: auto;
      font-size: clamp(0.5rem, 0.3786rem + 0.5178vw, 1rem);
      color: #ffffff;
      justify-content: center;

      text-shadow: 0px 5px 5px rgba(0,0,0,0.8);
    }

    #tech-stack #content p a{
      width: 50%;
      z-index: 3;
      margin-inline: auto;
      font-size: clamp(0.5rem, 0.3786rem + 0.5178vw, 1rem);
      color: #66fcf2;
      justify-content: center;
      
    }

    #tech-stack #content p span{
      width: 50%;
      z-index: 3;
      margin-inline: auto;
      font-size: clamp(0.5rem, 0.3786rem + 0.5178vw, 1rem);
      color: #c5fffc;
      justify-content: center;
    }

    /* button from https://uiverse.io/SujitAdroja/sharp-frog-56 */

    #tech-stack .btn {
      margin-top: 5vh;
      --bs-btn-border-radius: 0;
      color: #61efff;
      text-transform: uppercase;
      text-decoration: none;
      border: 3px solid #61efff;
      padding: 10px 20px;
      font-size: clamp(0.5rem, 0.3786rem + 0.5178vw, 1rem);
      font-weight: bold;
      background: transparent;
      position: relative;

      overflow: hidden;
    }
    
    #tech-stack .btn:hover {
      color: #040a0d;
      transition: all 1s;
    }
    
    #tech-stack .btn::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      top: 0;
      left: -40px;
      transform: skewX(45deg);
      background-color: #61efff;
      z-index: -1;
      transition: all 1s;
    }
    
    #tech-stack .btn:hover::before {
      width: 160%;
    }

    #tech-stack .btn:active{
      transition: 100ms linear;
      transform: scale(0.95);
    }



/*================== CARD STACKING ==================*/
    
/* 
    Idea: make the HERO a separate Card, the "about me/tech-section"another separate Card and lastly the works section another separate Card stacking one on top of each other.

    first approach: wrap the aboutme and tech into one div and make it sticky to top:0,
    problem: with the hero section already fixed, the setting the div into sticky at top:0 makes the whole container start at the top, also this would prevent the tech stack from being seen

    second approach: I only need the tech section to stick when it scrolls in view instead of the whole about-me/tech, setting the tech section to sticky with top:0 makes it scroll with the about me section, 
      solution: contain the sticky tech section within a wrapper with just enough height to push work section when the tech section is sticky, since i set the about-me section to relative with top 100vh I should set this also to top 100vh so it follows the about-me section
*/


          /* Backup CSS DO not EDIT */
            /* 
              #about-me {
                background-color: #0b0c10;
                position: relative;
                top: 100vh;
                overflow: clip;
              }

              #tech-stack {
                position: relative;
                top: 100vh;
                height: 100vh;
                overflow: clip;
                background-image: url('./images/techstackbg.webp');
                background-size: 100%, 0;
                background-repeat: no-repeat;
                background-position: bottom;
                --bs-gutter-x: 0px;
              } 
            */

            #about-me {
              background-color: #0b0c10;
              position: relative;
              top: 100vh;
              overflow: clip;
            }

            #tech-stack {
              position: sticky;
              top: 0vh;
              height: 100vh;
              overflow: clip;
              background-image: url('./images/techstackbg.webp');
              background-size: 100%, 0;
              background-repeat: no-repeat;
              background-position: bottom;
              --bs-gutter-x: 0px;
            }

            @media  (max-width: 766px) {
              #tech-stack {
                background-size: 300%, 0;
              }
            }


            #container-tech{
              position: relative;
              top: 100vh;
              height: 200vh;
              z-index: 3;
              /* border: 3px solid rgb(250, 255, 115); */
            }

    #container-works{
      position: relative;
      top: 0vh;
      z-index: 4;
      /* border: 5px solid blue; */
      background-color: #04080b;
      overflow: hidden;
    }

    #works-slidersmall1,
    #works-slidersmall2{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 6;
      background-image: url('./images/parallaxbg1.png');
      background-position: center top;
      background-size: contain;
      background-repeat: no-repeat;
      height: 350vh;
      width: 100vw;
      filter: blur(5px);
      animation: scrollY 100s linear infinite;
      flex-wrap: nowrap;
    }

    #works-slidersmall2{
      top: 350vh;
    }

    #works-sliderlarge1,
    #works-sliderlarge2{
      position: absolute;
      top: 0vh;
      right: 0vh;
      z-index: 5;
      background-image: url('./images/parallaxbg2.png');
      background-position: center top;
      background-size: contain;
      height: 350vh;
      width: 100vw;
      opacity: 40%;
      filter: blur(10px);
      animation: scrollY 200s linear infinite;
      flex-wrap: nowrap;
    }

    #works-sliderlarge2{
      top: 350vh;
    }

    @media  (max-width: 766px) {
      #works-slidersmall1,
      #works-slidersmall2{
        width: 200vw;
        height: 350vh;   
      }

      #works-sliderlarge1,
      #works-sliderlarge2{
        background-size: contain;
        right: 5vw;
        width: 250vw;
        height: 350vh;
      }
    }
  
    
    @keyframes scrollY {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
      }
    }

    

/*================== WORKS ==================*/

    /* TYPE WRITER ANIMATION https://www.youtube.com/watch?v=yefgBA1CecI */

    #works {
      position: relative;
      top: 0vh;
      z-index: 6;
      height: 100vh;

      /* overflow: clip; */
    }

    #works #content-header h1{
      font-size: clamp(2rem, 1.2718rem + 3.1068vw, 5rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf2;
      margin-top: 15vh;
      z-index: 2;
    }

    @media  (max-width: 766px) {
      #works #content-header h1{
        margin-top: 25vh;
      }
    }
    
    #works #img-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }

    #works #img-container img{
      margin-top: 20vh;
      width: auto;
      height: 40vh;
      z-index: 1;
    }


    @media  (max-width: 766px) {
      #works #img-container img{
        height: 25vh;
      }
    }
    


    #works #anim-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 5vw;
    }

    #works #anim-container #animationOne{
    position: absolute;
    bottom: 35vh;
    right: 55vw;
    margin-top: 20vh;
    width: auto;
    height: 30vh;
    z-index: 0;
    animation: floating2 4s ease-in-out infinite;
  }

  
    #works #anim-container #animationTwo{
      position: absolute;
      bottom: 30vh;
      left: 58vw;
      margin-top: 20vh;
      width: auto;
      height: 25vh;
      z-index: 0;
      animation: floating2 5s ease-in-out infinite;
    }


    #works #typewriter{
      margin-right: 1rem;
      display: inline-block;
      position: absolute;
      padding: 1rem 2rem;
      border: 3px solid #61efff;
      border-radius: 10px;
      background-color: hsla(210, 25%, 2%, 0.6);
      bottom: 60vh;
      left: 50vw;
      animation: floating 4s ease-in-out infinite;
    }

    #works #typewriter p{
      margin-bottom: 0px !important;
      font-family: monospace;
      font-size: clamp(1.2rem, 0.6359rem + 1.5534vw, 2.5rem);
      color: #ffffff;
      border-right: 2px solid white;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 6s steps(12) infinite, cursor .4s step-end infinite alternate;
    }
  
    @keyframes floating {
      0% { transform: translate(0,  0px); }
      50%  { transform: translate(0, 15px); }
      100%   { transform: translate(0, -0px); }    
    }

    @keyframes floating2 {
      0% { transform: translate(0,  -0px); }
      50%  { transform: translate(0, -15px); }
      100%   { transform: translate(0, 0px); }    
    }

    @keyframes cursor{
      50% { border-color: transparent}
    }

    @keyframes typing{
        0% { width: 0; }
        25% { width: 100%; }
        100% { width: 100%; }
    }

    @media  (max-width: 766px) {
      #works #anim-container #animationOne{
        height: 20vh;
      }

      #works #anim-container #animationTwo{
        height: 15vh;
      }

      #works #typewriter{
        bottom: 55vh;
        left: 45vw;
        padding: .5rem 1rem;
      }
    }
  
    #works #glow-overlay {
      position: absolute;
      bottom: 40vh;
      left: 30vw;
      width: 40vw;
      height: 40vh;
      background-image: url('./images/overlay-glow.png');
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      opacity: 30%;
      filter: blur(10vw);
      mix-blend-mode: soft-light;
    }

    #works #glow-overlay::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #19beff;
      z-index: 1;
    }


    #works #glow-overlay-2 {
      position: absolute;
      bottom: 25vh;
      left: 35vw;
      width: 30vw;
      height: 30vh;
      background-image: url('./images/overlay-glow.png');
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      opacity: 40%;
      filter: blur(10vw);
      mix-blend-mode: hard-light;
    }

    #works #glow-overlay-2::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #19e0ff;
      z-index: 1;
    }


    @media  (max-width: 766px) {
      #works #glow-overlay {
        top: 15vh;
        left: 20vw;
        width: 60vw;
        height: 70vh;
        opacity: 15%;
      }
      #works #glow-overlay-2 {
        top: 40vh;
        left: 35vw;
        width: 30vw;
        height: 30vh;
        opacity: 50%;
      }
    }


    #works #top-overlay{
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      background: linear-gradient(0deg, rgba(5,9,14,0) 0%, rgba(5,9,14,0) 80%, rgba(5,9,14,1) 95%, rgba(5,9,14,1) 100%);
      height: 100vh;
      width: 100vw;
      --bs-gutter-x: 0px;
    }

    #works #bottom-overlay{
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(5,9,14,0) 0%, rgba(5,9,14,0) 80%, rgba(5,9,14,1) 95%, rgba(5,9,14,1) 100%);
      height: 100vh;
      width: 100vw;
      --bs-gutter-x: 0px;

    }



/*================== WORKS ==================*/

    /* TYPE WRITER ANIMATION https://www.youtube.com/watch?v=yefgBA1CecI */

    #projects {
      position: relative;
      top: 0;
      left: 0;
      z-index: 6;
      height: 130vh;
      width: 100vw;
    }

    @media  (max-width: 766px) {
      #projects {
        height: auto;
      }
    }


    #projects .container{
      position: absolute;
      top: 0;
      height: 100%;
      --bs-gutter-x: 0px;
    }

    #projects #text-overlay{
      position: absolute;
      z-index: -1;
      top: 0;
      height: 100vh;
      font-size: clamp(4rem, 2.0583rem + 8.2848vw, 12rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf1;
      mix-blend-mode: overlay;
      white-space:nowrap;
      transform: translateX(-25%);
    }

    @media  (max-width: 766px) {
      #projects #text-overlay{
        margin-top: -10vh;
        top: 10vh;
        color: #66fcf1;
      }
    }
    
    #projects #top-overlay{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      background: linear-gradient(0deg, rgba(5,9,14,0) 0%, rgba(5,9,14,0) 65%, rgba(5,9,14,1)  75%, rgba(5,9,14,1) 100%);
      height: 100%;
      width: 100%;
      --bs-gutter-x: 0px;
    }

    #projects #content-overlay{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0));
      -webkit-mask-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 10%, rgb(0, 0, 0, 1) 30%, rgb(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0));
      mask-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 10%, rgb(0, 0, 0, 1) 30%, rgb(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0));
    }
    
    @media  (max-width: 766px) {
      #projects #content-overlay{
        background: linear-gradient(0deg, rgba(0,0,0,.5) 0%,  rgba(0,0,0,.5) 25%,  rgba(0,0,0,.5) 40%, rgba(0,0,0, 0) 50%);
      }
    }

    #projects #section-header{
      position: relative;
      top: 0;
      left: 5vw;
      margin-top: 15vh;
      font-size: clamp(2rem, 1.2718rem + 3.1068vw, 5rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #66fcf2;
      z-index: 2;
    }

    @media  (max-width: 766px) {
      #projects #section-header{
        margin-top: 25vh;
      }
    }



    @media  (max-width: 766px) {
      #projects #section-header{
        margin-top: 5vh;
      }
    }


    #projects #section-captions p{
      font-size: clamp(0.7rem, 0.5058rem + 0.8285vw, 1.5rem);
      text-align: center;
      color: #b1bac9;
    }

    #projects #section-captions p{
      margin-top: 5vh;
      padding-inline: 20vw;
    }

    @media  (max-width: 766px) {
      #projects #section-captions p{
        margin-top: 5vh;
        padding-inline: 5vw;
      }
    }


    #projects #project-list{
      padding-inline: 15vw;
      margin-top:10vh;
    }

    @media  (max-width: 766px) {
      #projects #project-list{
        padding-inline: 15vw;
        margin-top: 3vh;
      }
    }

    #projects #card-container{
      display: flex;
      transition: height .5s ease-in-out;
    }


    @media  (max-width: 766px) {
      #projects #card-container{
        transition: none;
      }
    }


    #projects #card-container #project-item{
      margin-bottom: 5vh;
      background: #10343d;
      /* background-color: linear-gradient(16deg, rgba(13,44,53,1) 15%, rgba(44,162,198,1) 70%, rgba(48,252,240,1) 100%); */
      border-radius: 2vh;
      width: 100%;
      padding-bottom: 2vh;
    }
    

    #projects #project-item #thumbnail{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2vh;
      border-radius: 2vh;
    }

    #projects #project-item #thumbnail img{
      padding-inline: auto;
      border-radius: 2vh;
      /* border: 1rem solid #0c3646; */
      height: 40%;
      width: 90%;
      transition: all .3s ease-out;
    }

    @media  (max-width: 766px) {
      #projects #project-item #thumbnail img{
        transition: none;
      }
    }

    #projects #content{
      width: 80%;
      margin-top: 2vh;
      margin-inline: auto;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #projects  #content a{
      position: absolute;
      top: -5%;
      left: -5%; 
      height: 100vh;
    }
    
    #projects #content a img{
      height: 2%;
      cursor: pointer;
    }

    #projects #content #special-case:hover::before {
      content: "Expected delay in page loading due to utilization of a free API hosting.";
      position: absolute;
      top: -3vh; 
      left: 60%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 1rem;
      width: max-content;
      z-index: 999;
      height: auto;
    }

    @media  (max-width: 766px) {
      #projects #content #special-case:hover::before {
        content: "";
        display: none;
      }
    }

    #projects #content #content-header{
      width: 100%;
    }

    #projects #content #content-header h1{
      font-size: clamp(1rem, 0.6359rem + 1.5534vw, 2.5rem);
      font-family: 'HvDTrial Brandon Grotesque', sans-serif;
      color: #ffffff;
    }

    #projects #content #content-header #special-case-text {
      display: none;
    }

    @media  (max-width: 766px) {
      #projects #content #content-header #special-case-text {
        color: #6d7172;
        margin-top: -2%;
      }
    }

    #card-container #content p{
      font-size: clamp(0.4rem, 0.3786rem + 0.5178vw, 1rem);
      text-align: justify;
      color: #b1bac9;
    
      opacity: 0;
      margin-top: -40vh;
      transition:  0.3s ease-in-out;
    }


    @media  (max-width: 766px) {
      #card-container #content p{
        opacity: 1;
        margin-top: 1em;
        transition: none;
      }
    }

    #projects #card-container:hover #thumbnail img {
      transform: scale(0.95);
      margin-top: -10vh;
      transition:  0.3s ease-in-out;
    }

    @media  (max-width: 766px) {
      #projects #card-container:hover #thumbnail img {
        transform: scale(1);
        margin-top: 0;
        transition:  none;
      }
    }

    
    #projects #card-container:hover #content p{
      transition: opacity .3s ease-in-out, margin-top 0.3s ease-in-out;
      opacity: 1;
      margin-top: 1em;
    }


    #projects  #card-container:hover {
      overflow: visible;
      height: max-content;
      transition: height .5s ease-in;
    }

    @media  (max-width: 766px) {
      #projects  #card-container:hover {
        transition:  none;
      }
    }