* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;                                      
}


/* NAV */
nav img {
	position: absolute;
	bottom: -35px;
  height: 80px;
}

nav #nav-name {
	margin-left: 80px;
}

.offcanvas {
	width: 70vw !important;
}

/* color scheme
Electric Blue: 66fcf1
dark CYAN: 45a29e
off white: c5c6c7
dark gunmetal: 1f2833
smoky black: 0b0c10
*/

/* Hero Section */
#hero{
	position: relative;
	height: 100vh;
  background-image: url('./images/herobg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	z-index: 0;
}

#overlay{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 25%, rgba(0,0,0,0) 40%);
	z-index: -2;
}

@media  (max-width: 576px) {
  #overlay{
		background: linear-gradient(0deg, rgba(0,0,0,.4) 0%,  rgba(0,0,0,.6) 30%, rgba(0,0,0,.9) 35%,  rgba(0,0,0,.9) 40%, rgba(0,0,0,0) 50%);
  }
}

#hero-container{
	height: 100vh;
	text-align: right;
  padding-left: 1rem;
}

@media (max-width: 576px) {
  #hero-container{
		height: 35vh;
  }
}
@media (max-width: 576px){
	#hero-content {
		background-color: rgba(0,0,0,.5);
		box-shadow: 0px -2vh 40px 60px rgba(0,0,0,.5);
		-webkit-box-shadow: 0px -2vh 40px 60px rgba(0,0,0,.5);
	}
}

#hero-content h2{
	font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
	color: #66fcf1;
}

#hero-content h1{
	font-size: clamp(2.5rem, 1.6505rem + 3.6246vw, 6rem);
	font-family: 'HvDTrial Brandon Grotesque', sans-serif;
	color: white;
}

#animate-text{
  overflow: hidden;
}

#animate-text span{
	font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
	font-family: 'HvDTrial Brandon Grotesque', sans-serif;
	color: white;

  display: none;
}

#animate-text span.text-in{
  display: block;
  animation: textIn .5s ease;
}

#animate-text span.text-out{
  animation: textOut .5s ease;
}


@keyframes textIn{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%)
  }
}


@keyframes textOut{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%)
  }
}


#hero-profile{
	height: 100vh;
}

@media (max-width: 576px) {
  #hero-profile{
		height: 65vh;
  }
}

#hero-profile img{
	max-height: 85vh;
}

@media (max-width: 576px) {
  #hero-profile img{
		max-height: 50vh;
		-webkit-mask-image: linear-gradient(rgba(0,0,0,1) 80%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0) 95%);
		mask-image: linear-gradient(rgba(0,0,0,1) 85%, rgba(0,0,0,.7) 90%, rgba(0,0,0,0) 95%);
		z-index: -3;
  }
}


#hero #glow-overlay {
  position: absolute;
  bottom: 0;
  right: 5%; 
  width: 55%;
  height: 100%;
  background-image: url('./images/overlay-glow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: overlay;
  z-index: -4;
  filter: blur(5vw);
}

@media (max-width: 576px) {
  #hero #glow-overlay {
    bottom: 20%;
    right: 10%; 
    width: 80%;
    height: 70%;
  }
}



/* BUTTON FROM
  https://freefrontend.com/css-buttons/
  https://codepen.io/Ks145/pen/MWGxbYr
*/

.glowing-btn {
  position: relative;
  color: hsl(186 100% 69%);
  cursor: pointer;
  padding: 0.35em 1.5em;
  border: 0.15em solid hsl(186 100% 69%);
  border-radius: 0.5rem;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
  letter-spacing: .5rem;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
  -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
  box-shadow: inset 0px 0px 0.5em 0px hsl(186 100% 69%),
    0px 0px 0.5em 0px hsl(186 100% 69%);
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(186 100% 69%);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(186 100% 69%);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(186 100% 69%);
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsl(186 100% 69%);
  box-shadow: 0 0 2em 0.2em hsl(186 100% 69%);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

.glowing-btn:active{
  transform: scale(0.95);
}



 